{% extends 'layout.html' %}
{% block content %}

  <h1>EDIT PROFILE PAGE</h1>

  <form method="POST" class="container col-2">
    {{ form.hidden_tag() }}

    {{ form.username(class='form-control', placeholder='Username') }}
    {{ form.email(class='form-control', placeholder='Email') }}
    {{ form.password(class='form-control', placeholder='Password') }}
    {{ form.confirm_password(class='form-control', placeholder='Confirm Password') }}

    {{ form.submit(class='form-control btn btn-primary') }}
    </form>
    
    <a href="{{ url_for('user.delProfile') }}" class="btn btn-danger">Delete Profile</a>
{% endblock %}