{% extends 'layout.html' %}
{% block content %}

  <h1>PROFILE PAGE</h1>

  <!-- <form method="POST" class="container col-2">
    {{ form.hidden_tag() }}

    {{ form.username(class='form-control', placeholder='Username') }}
    {{ form.email(class='form-control', placeholder='Email') }}
    {{ form.password(class='form-control', placeholder='Password') }}
    {{ form.confirm_password(class='form-control', placeholder='Confirm Password') }}
    {{ form.submit(class='form-control btn btn-primary') }}
    </form> -->

    <form method="POST" class="card container col-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ current_user.username }}</h5>
          <p class="card-text">{{ current_user.email }}</p>
          <a href="{{ url_for('user.editProfileForm') }}" class="btn btn-primary">Edit Profile</a>
        </div>
    </form>

{% endblock %}